.body{
    height: 90vh;
    width: 66vw;
    border: 2px solid black;
    align-content: center;
    justify-content: center;
    padding-left: 500px;
}

#MainBox{
    height: 400px;
    width: 400px;
    border: 2px dashed darkblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#LeftClick{
    height: 45px;
    width: 45px;
    font-size: larger;
    background-color: darkblue;
}

.box{
    height: 70px;
    width: 70px;
    border: 2px solid black;
    align-content: center;
    text-align: center;
    background-color: dimgray;
    color: aliceblue;
    font-size: larger;
}


#ViewPanel{
    height: 350px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}