*{
    margin: 0px;
}

header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 40px;
}

.head > h1{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head > a{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: white;
    align-items: center;
}


.card1{
    height: 400px;
    width: 400px;
}
.card1 > img{
    height: 400px;
    width: 300px;
    margin-right: 20px;
}

.card1 h4{
    height: 20px;
    width: 150px;
    background-color: black;
    color: white;

}
.card1 b{
    height: 400px;
    width: 300px;
    font-size: large;
}

.card1 p{
    height: 400px;
    width: 400px;
}


.card2{
    height: 200px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
.card2 > img{
    height: 200px;
    width: 300px;
}
.card2 h4{
    height: 20px;
    width: 45px;
    background-color: black;
    color: white;
}
.card2 b{
    font-size: large;
}
.card2 p{
    height: 200px;
    width: 300px;
}


.card3{
    height: 200px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.card3 > img{
    height: 200px;
    width: 300px;
}
.card3 h4{
    height: 20px;
    width: 150px;
    background-color: black;
    color: white;
}
.card3 b{
    font-size: large;
}



.card4{
    height: 200px;
    width: 300px;
    margin-left: 20px;
}
.card4 > img{
    height: 400px;
    width: 300px;
}
.card4 h4{
    height: 20px;
    width: 90px;
    display: flex;
    background-color: black;
    color: white;
   
}
.subcard4{
    display: flex;
    justify-content: space-evenly;
}

.subcard4 #h3{
    background-color: greenyellow;
    color: black;
}


body{
    background-color: aquamarine;
}