.body{
    font-family: Arial, Helvetica, sans-serif;
}

#Authentication{
    height: 500px;
    width: 760px;
    display: flex;
    border: 2px solid lightblue;
    box-shadow: -10px 10px 5px lightblue;
    /* box-shadow: 10px -10px 5px lightblue; */
    margin: 125px 425px;
    justify-content: space-evenly;
    align-items: center;
}
#Authentication #title{
    display: flex;
    margin-bottom: 400px;
    margin-left: 200px;
}

#LoginPage{
    display: flex;
    border: 3.5px solid lightblue;
    height: 220px;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
#LoginPage button{
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue;
    border-radius: 25px;
    background-color: lightblue;
    font-size: larger;
    font-weight: 700;
}
#LoginContainer #LoginContainerButton{
    margin-top: 10px;
    margin-left: 35px;
}

#SignUpPage{
    display: flex;
    border: 3.5px solid lightblue;
    height: 220px;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
#SignUpPage button{
    display: flex;
    height: 50px;
    width: 125px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue;
    border-radius: 25px;
    background-color: lightblue;
    font-size: larger;
    font-weight: 700;

}

#SignUpContainer #SignUpButton{
    margin-top: 10px;
    margin-left: 15px;
}







/*          HomePage CSS         */
#Header{
    display: flex;    
    height: 50px;
    /* border: 2px solid lightblue; */
    font-family: Arial, Helvetica, sans-serif;
}

#HomePageHeader{
    display: flex;  
    width: 1518px;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 100px;
}
#FirstComponent .heading{
    height: 30px;
    width: 170px;
    border: 2px solid lightblue;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    background-color: lightblue;
}

#SecondComponent{
    display: flex;
    width: 450px;
    justify-content: space-between;
    font-size: large;
}

#SecondComponent .para{
    height: 25px;
    width: 90px;
    border: 2px solid lightblue;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    background-color: lightblue;
}


#body{
    display: grid;
    /* border: 2px dashed lightblue; */
    height: 165vh;
    margin-top: 10px;
    gap: 450px;
    padding: 10px 70px;
    /* margin-right: 100px; */
    grid-template-columns: 35px 35px 35px ;
    grid-template-rows: 10px 10px;
}

#body .frame{
    height: 325px;
    width: 300px;
    padding-left: 47px;
    padding-top: 20px;
    border: 7px double lightblue;
}

#body .other{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}