.body{
    font-family: Arial, Helvetica, sans-serif;
}


#Authentication{
    height: 500px;
    width: 760px;
    display: flex;
    border: 2px solid lightblue;
    box-shadow: -10px 10px 5px lightblue;
    /* box-shadow: 10px -10px 5px lightblue; */
    margin: 125px 425px;
    justify-content: space-evenly;
    align-items: center;
}
#Authentication #title{
    display: flex;
    margin-bottom: 400px;
    margin-left: 200px;
}

#LoginPage{
    display: flex;
    border: 3.5px solid lightblue;
    height: 220px;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
#LoginPage button{
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue;
    border-radius: 25px;
    background-color: lightblue;
    font-size: larger;
    font-weight: 700;
}
#LoginContainer #LoginContainerButton{
    margin-top: 10px;
    margin-left: 35px;
}

#SignUpPage{
    display: flex;
    border: 3.5px solid lightblue;
    height: 220px;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
#SignUpPage button{
    display: flex;
    height: 50px;
    width: 125px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue;
    border-radius: 25px;
    background-color: lightblue;
    font-size: larger;
    font-weight: 700;

}

#SignUpContainer #SignUpButton{
    margin-top: 10px;
    margin-left: 15px;
}