.homepage{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-around;
    gap: 30px;
}

.card{
    border: 3px dashed black;
    box-shadow: 0px 0px 10px black;
}