*{
    margin: 0px;
}
.header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 10px 180px;
    border: 2px solid chocolate;
    align-items: center;
    /* transition: sticky; */
}

.header .Sub-header1{
    display: flex;
    gap: 20px;
}
.Sub-header1 p{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    justify-content: center;
}
.Sub-header1 .box1{
    height: 50px;
    border: 1px solid red;
}
.Sub-header1 .box2{
    display: inline-block;
    height: 50px;
    border: 1px solid red;
    justify-content: center;
}

.header .Sub-header2{
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
    justify-content: space-between;
}






.BodySection1 .Sub-BodySection1{
    height: 10vh;
    width: 70wh;
    border: 1px solid red;
}