body{
    background-color: orange;
    color: white;
}

button{
    height: 45px;
    width: 85px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: blue;
    color: aliceblue;
}

.className{
    text-align: center;
    height: 25px;
    width: 235px;
    color: cornflowerblue;
    background-color: azure;
}