*{
    margin: 0px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-size: 50px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 97, 0, 0.815);
}



.Section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 150px;
}
.Section .box{
    height: 680px;
    width: 350px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.473);
}
.box:hover{
    /* height: 700px;
    width: 351px; */
    box-shadow: 5px 5px 10px black;
    
}

.box{
    height: 680px;
    width: 350px;
    transition: 500ms;
}

.box img{
    height: 200px;
    width: 350px;
}
.box .icon{
    height: 40px;
    width: 35px;
    padding-left: 5px;
}
.box .smallLine{
    height: 3px;
    width: 50px;
    background-color: rgb(0, 79, 0);
    border: 1px solid rgb(0, 79, 0);
    margin: 10px;
    padding-top: -8px;
}
.box .smallBox{
    height: 16px;
    width: 16px;
    background-color: gray;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 10px;
}
.box h3,p,button{
    width: 350px;
    padding-left: 10px 10px;
    margin: 30px;
    margin-left: 20px;
}

.box p{
    margin-right: 20px;
}
.box button{
    height: 45px;
    width: 90px;
    border: 1px solid black;
    border-radius: 25px;
    align-items: center;
    justify-content: center;

}
.box button:hover{
    height: 50px;
    width: 100px;
    transition: 0.5s;
    background-color: rgb(0, 79, 0);
    color: white;
}


.B1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.B1 button{
    display: flex;
    height: 50px;
    width: 150px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(0, 79, 0);
    color: white;
    border: 1px solid rgb(0, 79, 0);
    border-radius: 25px;
    
}
.B1 > button:hover{
    height: 53px;
    width: 159px;
    transition: .5s;
}